@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0rem;
  padding: 0rem;
  font-family: "Work Sans", sans-serif;
}
/* Header Section Style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 15rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  margin: 2rem;
  color: #424242;
  font-size: 1.2rem;
  font-weight: 500;
}
